:root{
    --bg-color-primary: #f78A76; /*Fond corail*/
    --bg-color-secondary: #25A2C3;
    --text-bg-dark: #fff;
    --text-lien: #f78a76;
    --text-titre-cat: #25A2C3;
    --font-logo: 'Pacifico';
    --font-textes: 'Open Sans';
    --font-titres-boutons: 'Montserrat';
}

/* pacifico-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/pacifico-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v31-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{ /* ==> RESET DE TOUTES LES MARGES SUR TOUTES LES BALISES */
    margin: 0;
    padding: 0;
}

.bouton{
    background-color: var(--bg-color-primary);
    color: var(--text-bg-dark);
    padding: 8px 48px;
    font-size: 0.8rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.bouton:hover{
    background-color: #25A2C3;
    transform: scale(1.1) rotateX(360deg);
    -webkit-transform: scale(1.1) rotateX(360deg);
    -moz-transform: scale(1.1) rotateX(360deg);
    -ms-transform: scale(1.1) rotateX(360deg);
    -o-transform: scale(1.1) rotateX(360deg);
}



body{
    background-color: white;
    font-family: var(--font-textes);
    font-size: 18px;
}

h1, h2, h3{
    font-family: var(--font-titres-boutons);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* ==================== HEADER ==================== */
#bandeau{
    text-align: center;
    padding: 40px;
    background-color: antiquewhite;
}

#logo a{
    font-family: var(--font-logo);
    color: var(--text-lien);
    font-size: 2.5rem;
}

#menuPrincipal ul{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    gap: 1rem;
    margin-top: 32px;
}

#menuPrincipal ul li a{
    color: black;
}

#menuPrincipal ul li a:hover,
#menuPrincipal ul li a.choix{
    color: var(--text-lien);
}

/* ==================== MAIN ==================== */
#bienvenue{
    background-image: url(images/paysage.jpg);
    background-size: cover;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bienvenue h1{
    color: var(--text-lien);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#bienvenue p{
    width: 60%;
    color: var(--text-bg-dark);
    padding: 8px 24px;
    margin: 24px;
    background-color: rgba(0, 0, 0, 0.4);
}

#categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 56px;
    padding: 80px 0;
}

.colonne{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.cat{
    display: flex;
    flex-direction: column;
    width: 250px;
    box-sizing: border-box;
    font-size: 0.8rem;
    gap: 16px;
}

.cat h2{
    color: var(--text-titre-cat);
    font-weight: bold;
}

.cat-right{
    text-align: left;
}

.cat-left{
    text-align: right;
}

#image-cat{
    width: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#CTA{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 48px;
    background-color: var(--bg-color-primary);
    color: white;
}

#CTA p{
    width: 50%;
    text-align: center;
}

#CTA .bouton{
    background-color: white;
    color: var(--text-lien);
        padding: 8px 16px;
    font-weight: 900;
}

#articles{
    display: flex;
    gap: 36px;
    justify-content: center;
    padding: 64px 0;
}


#articles .article{
    width: 200px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.109);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -ms-transition: transform 0.2s;
    -o-transition: transform 0.4s;
}

/* #articles .article :hover{
} */

.article:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

#articles .article h3{
    color: var(--text-titre-cat);
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 16px;
    font-weight: 1000;
}

#articles .article h3 a{
    color: var(--text-titre-cat);
}


#articles .article .text{
    padding: 16px 8px;
}

#articles .article p{
    font-size: 0.8rem;
}

#articles .article img{
    width: 100%;
}

#pied{
    color: var(--text-bg-dark);
    background-color: var(--bg-color-secondary);
}

#pied .ligne:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 88px 0;
}

#pied .ligne:last-child{
    padding: 16px 0;
    border-top: 2px solid #ffffff36;
}

#pied .ligne{
    display: flex;
    justify-content: center;
}

#pied .ligne p{
    font-size: 0.8rem;
    text-align: center;
}

#pied .ligne p a{
    color: white;
}

#pied ul{
    display: flex;
    gap: 48px;
}

@media (max-width: 830px) {
    #categories{
        flex-direction: column;
        align-items: center;
    }
    .cat{
        text-align: center;
    }

    #articles{
        flex-direction: column;
        align-items: center;
    }
}